@charset "UTF-8";

body {
	background-image: linear-gradient(to top, #4d4d4d 0%, black 100%);
	padding: 15px 0;
	font-weight: 300;
	font-size: 15px;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.wrap {
	width: 1200px;
	margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans KR', sans-serif;
}