@charset "UTF-8";
.backimg{
	width: 1300px;
	height: 240px;
	position: relative;
	margin: 0 auto;
	z-index: 1;
}
.backimg img {
	width: 100%;
/* 	display: block; */
	object-fit: cover;
}
.tab-wrap {
	transition: 0.3s box-shadow ease;
	border-radius: 6px;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	list-style: none;
	background-color: #fff;
	margin: 40px 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
} 

.tab-wrap:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.19);
}

.tab {
	display: none;
}

.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
	opacity: 1;
	transition: 0.5s opacity ease-in, 0.8s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	transform: translateY(0px);
	text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s opacity ease-in, 0.8s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	transform: translateY(0px);
	text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s opacity ease-in, 0.8s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	transform: translateY(0px);
	text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s opacity ease-in, 0.8s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	transform: translateY(0px);
	text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s opacity ease-in, 0.8s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	transform: translateY(0px);
	text-shadow: 0 0 0;
}

.tab:first-of-type:not (:last-of-type ) +label {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.tab:not (:first-of-type ):not (:last-of-type ) +label {
	border-radius: 0;
}

.tab:last-of-type:not (:first-of-type ) +label {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.tab:checked+label {
	background-color: #fff;
	box-shadow: 0 -1px 0 #fff inset;
	cursor: default;
}

.tab:checked+label:hover {
	box-shadow: 0 -2px 0 #fff inset;
	background-color: #fff;
}

.tab+label {
	box-shadow: 0 -1.5px 0 #e41a12 inset;
	border-radius: 6px 6px 0 0;
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: #333;
	flex-grow: 3;
	text-align: center;
	background-color: #f2f2f2;
	user-select: none;
	text-align: center;
	transition: 0.3s background-color ease, 0.3s box-shadow ease;
	height: 50px;
	box-sizing: border-box;
	padding: 15px;
}

.tab+label:hover {
	background-color: #f9f9f9;
	box-shadow: 0 1px 0 #f4f4f4 inset;
}

.tab__content {
	padding: 10px 25px;
	background-color: transparent;
	position: absolute;
	width: 100%;
	z-index: -1;
	opacity: 0;
	left: 0;
	transform: translateY(-3px);
	border-radius: 6px;
}

.chz { /*  관람료 박스  */
	margin-top: 50px;
	margin-bottom: 70px;
	text-align: center;
	auto: 0;
}

.llist {
	display: flex;
	min-width: 50px;
	justify-content: space-between;
}

.fee-table-box {
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;;
}

table, td, th {
	border: 1px solid #ddd;
	text-align: center;
}

table {
	width: 100%;
	margin: 0;
	border: 0;
	table-layout: fixed;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
}

.fee-table-box {
	width: 100%;
	overflow: hidden;
	margin-bottom: 70px;
	margin-right: 20px;
}

.fee-table-box .fee-table {
	width: 450px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

.data-table thead th {
	background-color: #f2f2f2;
}

.data-table tbody th {
	
}

/* boring stuff */
body {
	padding: 30px 0;
	font-weight: 300;
	font-size: 15px;
}

.contentBox {
	max-width: 1500px;
	margin: 0 auto;
	padding: 4em;
	
}

.litTitle {
	font-size: 12px;
	letter-spacing: 2px;
	opacity: 0.9;
	color: #cccccc;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans KR', sans-serif;
}
h1, h2 {
	margin: 0;
	color: #444;
	/* text-align: center; */
	padding: 0 160px;
	
}

h2 {
	margin-bottom: 30px;
}



h5 {
	
	color: white;
	
}
.pt{
	color: #f46D0D;
	text-align: center;
	margin-bottom: 10px;
}

h6 a {
	text-decoration: none;
	color: red;
}
h6 a:hover {
	text-decoration: none;
	color: white;
}

p {
	line-height: 1.6;
	margin-bottom: 20px;
	color: ffffff;
}
.demo-section p{
	color: white;
}

ul {
	list-style-type: none;
}

ul li a {
	text-decoration: none;
	color: #262626;
}

ul li a:hover {
	text-decoration: none;
	color: #f46D0D;
}


/*special*/

section.cards {
	margin: 0 auto;
	padding: 1em 10em;
	display: grid;
	grid-auto-flow: row dense;
	grid-template-columns: repeat(3, 256px);
	grid-template-rows: repeat(4, 196px);
	grid-gap: 16px;
}

.card {
	display: flex;
	transition: all 0.25s ease;
}

.card:hover {
	transform: scale(1.05);
}

.vertical {
	flex-direction: column;
	grid-row: span 2; 
	grid-column: span 1;
}
.small {
	flex-direction: column;
	grid-row: span 1; 
	grid-column: span 1;
}

.horizontal {
	width:530px;
	height:196px;
	flex-direction: row;
	grid-row: span 1;
	grid-column: span 2;
}

.reverse-horizontal {
	flex-direction: row-reverse;
	grid-row: span 1;
	grid-column: span 2;
}

.horizontal .card__img, .reverse-horizontal .card__img {
	
	width: 100%;
}
.vertical{
	width:254px;
	
}

.vertical .card__img {
	width: 100%;
	
}
.titleBox{

	margin-bottom: 40px;
}


.litTitle {
	font-size: 12px;
	letter-spacing: 2px;
	opacity: 0.9;
	color: #a6a6a6;
	
}

.bigTitle {
	color: white;
	font-size: 40px;
	opacity: 0.8;
	font-weight: 700;
	padding-bottom: 0.5em;
	text-align: center;
	
}

.card__excerpt {
	font-size: 16px;
	padding-bottom: 0.5em;
}


